<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-Cleaning-and-pre-processing" data-toc-modified-id="Data-Cleaning-and-pre-processing-1">Data Cleaning and pre-processing</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Change-the-dates" data-toc-modified-id="Change-the-dates-1.0.1">Change the dates</a></span></li></ul></li></ul></li></ul></div>

# Data Cleaning and pre-processing

In [2]:
import pandas as pd
import numpy as np

In [3]:
kas = pd.read_csv("../data/kas_reviews.csv")

In [4]:
len(kas)

1308

In [5]:
kas.head()

,Id,Score,Date,Title,Review
0,798058056,10,"July 19, 2021",Poor communication,Poor communication towards freelancers. Not re...
1,796220834,50,"July 8, 2021",Fabulous,After an hour drive from Makkum in the Friesla...
2,792789843,50,"June 16, 2021",Nice Restaurant,If you go for 6 dishes they appear to have a w...
3,788354190,50,"May 9, 2021",Absolutely Delicious Food,My new favorite restaurant in Amsterdam!It pri...
4,778227856,50,"November 30, 2020",So fresh! So tasty!,Ingredients were freshly picked from the garde...

In [6]:
kas["Id"].unique

<bound method Series.unique of 0       798058056
1       796220834
2       792789843
3       788354190
4       778227856
          ...
1303     23658332
1304     21557669
1305     19592320
1306     18857462
1307     18551995
Name: Id, Length: 1308, dtype: int64>

In [8]:
kas.drop_duplicates(subset=["Id"])

,Id,Score,Date,Title,Review
0,798058056,10,"July 19, 2021",Poor communication,Poor communication towards freelancers. Not re...
1,796220834,50,"July 8, 2021",Fabulous,After an hour drive from Makkum in the Friesla...
2,792789843,50,"June 16, 2021",Nice Restaurant,If you go for 6 dishes they appear to have a w...
3,788354190,50,"May 9, 2021",Absolutely Delicious Food,My new favorite restaurant in Amsterdam!It pri...
4,778227856,50,"November 30, 2020",So fresh! So tasty!,Ingredients were freshly picked from the garde...
...,...,...,...,...,...
1303,23658332,50,"January 12, 2009",Original setup with yummy organic and (extreme...,Original setup with yummy organic and (extreme...
1304,21557669,50,"November 4, 2008",Without any doubt the best restaurant in Amste...,"Ok, if you are planning on coming to Amsterdam..."
1305,19592320,50,"August 31, 2008",a new must in Amsterdam,I had a great dinner at this restaurant in the...
1306,18857462,40,"August 11, 2008",A greenhouse with fresh tasty food,I went to De Kas with two friends that knew al...
1307,18551995,40,"August 2, 2008",A Culinary Experience In An Amsterdam Greenhou...,The only reason I did not give the absolute be...

In [ ]:
kas["Date"].apply(lambda x: x.replace({"januari":"January","februari":"February", "maart":"March","april":"April",
                     "mei":"May","juni":"June", "juli":"July","augustus": "August","september":"September",
                     "oktober":"October","november":"November","december":"December"})

### Change the dates

In [29]:
kas["Date"].apply(lambda x: x.replace({"januari":"January","februari":"February", "maart":"March","april":"April",
                     "mei":"May","juni":"June", "juli":"July","augustus": "August","september":"September",
                     "oktober":"October","november":"November","december":"December"})

TypeError: replace() takes no keyword arguments

,Score,Date,Title,Review
207,50,26 november 2018,Excellent and unique food,"All meals were very fresh, prepared using the ..."
637,50,26 november 2018,Excellent and unique food,"All meals were very fresh, prepared using the ..."