<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-Cleaning-and-pre-processing" data-toc-modified-id="Data-Cleaning-and-pre-processing-1">Data Cleaning and pre-processing</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Change-the-dates" data-toc-modified-id="Change-the-dates-1.0.1">Change the dates</a></span></li></ul></li></ul></li></ul></div>

# Data Cleaning and pre-processing

In [1]:
import pandas as pd
import numpy as np

In [ ]:
kas = pd.read_csv("../data/reviews.csv")

In [30]:
len(kas)

1305

In [4]:
kas.head()

,Score,Date,Title,Review
0,10,17 september 2020,Total disregard for hygiene standards,This is a beautiful and very special restauran...
1,40,15 september 2020,"Nice fresh products, great location","The food was nice and fresh, and the surroundi..."
2,50,13 september 2020,"Fresh, tasty and beautifully presented food",This restaurant is located in a park in the so...
3,10,12 augustus 2020,Long curly hair in the food,We were really looking forward to our dinner a...
4,40,31 juli 2020,Restaurant De Kas - Local Affinity!,Local Affinity!The menu tells the story of the...

In [23]:
kas["Date"].unique

<bound method Series.unique of 0       17 september 2020
1       15 september 2020
2       13 september 2020
3        12 augustus 2020
4            31 juli 2020
              ...
1780        10 maart 2009
1781      2 februari 2009
1782      14 januari 2009
1783      12 januari 2009
1784      5 november 2008
Name: Date, Length: 1305, dtype: object>

In [13]:
kas.drop_duplicates(inplace=True)

In [ ]:
kas["Date"].apply(lambda x: x.replace({"januari":"January","februari":"February", "maart":"March","april":"April",
                     "mei":"May","juni":"June", "juli":"July","augustus": "August","september":"September",
                     "oktober":"October","november":"November","december":"December"})

### Change the dates

In [29]:
kas["Date"].apply(lambda x: x.replace({"januari":"January","februari":"February", "maart":"March","april":"April",
                     "mei":"May","juni":"June", "juli":"July","augustus": "August","september":"September",
                     "oktober":"October","november":"November","december":"December"})

TypeError: replace() takes no keyword arguments

,Score,Date,Title,Review
207,50,26 november 2018,Excellent and unique food,"All meals were very fresh, prepared using the ..."
637,50,26 november 2018,Excellent and unique food,"All meals were very fresh, prepared using the ..."